<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>烘培雞</title>
    <link rel="stylesheet" type="text/css" href="../static/homeCSS.css">
</head>


<body>
    <section class="loginArea">
        <div class="loginNav">
            <span class=titleText>歡迎光臨，這是會員頁</span>
        </div>

        <form method="POST" action="/member">
            <div class="success">
                恭喜您成功登入系統
            </div>
        </form>
        <form action="/signout">
            <button class="logoutBtn">登出</button>
        </form>
    </section>
</body>

</html>