<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>烘培雞</title>
    <link rel="stylesheet" type="text/css" href="../static/homeCSS.css">
</head>


<body>
    <section class="loginArea">
        <div class="loginNav">
            <span class=titleText>您已登出</span>
        </div>

        <div class="form">

            <form>
                <div class="account">
                    <!-- 請輸入帳號密碼 -->
                    <div class="title">
                        QQ
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>