<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>烘培雞</title>
    <link rel="stylesheet" type="text/css" href="../static/homeCSS.css">
</head>


<body>
    <section class="loginArea">
        <div class="loginNav">
            <span class=titleText>請輸入帳號密碼</span>
        </div>

        <div class="form">

            <form method="post" action="../req1.py">
                <div class="account">
                    恭喜您成功登入系統
                </div>
                <button>登入</button>
        </div>
        </form>
    </section>
</body>

</html>