<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/week7.css">
    <title>Week6</title>
</head>

<body>
    <div class="box">
        <nav class=welcome>
            失敗啦
        </nav>
        <div class="register">
            {{ text }}
            <form action="/" method="POST">
                <button>回首頁</button>
            </form>
        </div>
    </div>

</body>

</html>